<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Nikhil C Johny</title>
<body>

<div class="w3-container w3-green">
  <h1>NIKHIL C JOHNY</h1>
  <p>Mechanical Engineer</p>
</div>

<div class="w3-row-padding">
  <div class="w3-third">
  <div class="w3-container w3-teal">
    <h2>EDUCTAION</h2>
    <p>1.SECONDARY EDUCATION</p>
    <p>Mary Matha English Medium School,pothencode,TVM</p>
      <p>CBSE cgpa=9.8</p>
      <P>2.HIGHER SECONDARY EDUCATION</P>
      <P>SNGHSS Chempazanthy,TVM</P>
      <P>Percentage=79.5</P>
      <p>3.GRADUATION</p>
      <P> MARIAN ENGINEERING COLLEGE Kazhakoottam,TVM<br>
          BTECH MECHANICAL ENGINEERING<br>
          Cgpa=7.18
      </P>
  </div>
  </div>

  <div class="w3-third">
  <div class="w3-container w3-yellow">

    <h2>FIELD OF INTEREST</h2>
    <p>1.Structural engineering</p>
    <p>2.Research and development</p>
      <p>3.Automotive engineering and design</p>
      <p>4.The aerospace industry</p>
  </div>
  </div>


  <div class="w3-third">
      <div class="w3-container w3-grey">

    <h2>CONTACT DETAILS</h2>
    <p>nikhilcjohny1@gmail.com</p>
    <p></p>
  </div>
</div>


</body>
</html>